.lawyer_main{
    width:100%;
}

.Swiper_{
    
    width:100%;
}

.test_div{
    width: 90%;
    
}

.swiperSlide{
   
    /* padding-left: 200px; */
    width: 90%;
    width: 100%;
    
    
}


/* .swiper-button-prev:after {
    position: relative !important;
    right: -2rem !important;
}

.swiper-button-next:after {
    position: relative;
    right: -6rem;
} */


.swipe_img{
    /* height:400px;
    width:350px; */
    width:100%;
    /* width:80%; */
    height:90%;
    
    margin: 0;
    padding: 0;
}
.swiper-button-prev {
    left: 63% !important;
    /* top: 40% !important; */
}

.Swiper_ [class^="swiper-button-"]{

    color: black;
    background-color: #fff;
    padding:2rem;
    border-radius: 2rem;
 }

.swiperSlide_sec{
    margin-top: 0;
    width:50%;
    height:4vw;
    position: relative;
    top:-4.2vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.swiperSlide_sec h5{
    font-size: 1.37rem;
    color:#191D23;
}
.swiperSlide_sec section .img{
    width:20px;
    height:15px;
    width:12%;
    height:65%;
}

.swiperSlide_sec section span{
    color: #191D23;
    font-size: 1.12rem;
}

@media only screen and (max-width: 1040px) {
    .swiperSlide_sec h5{
        font-size: 1rem;
    }
    .swiperSlide_sec section span{
        font-size: 0.95rem;
    }

}


@media only screen and (max-width: 930px) {
    .Swiper_ [class^="swiper-button-"]{
    
      
        scale: 0.9;
     }


    .swiperSlide_sec h5{
        font-size: 1rem;
    }
    .swiperSlide_sec section span{
        font-size: 0.95rem;
    }

    .swiperSlide_sec{
        /* width:auto; */
        max-width:90%;
        height: auto;

    }

}

@media only screen and (max-width: 629px) {
    .Swiper_ [class^="swiper-button-"]{
    
      
        scale: 0.8;
     }


    .swiperSlide_sec h5{
        font-size: 1rem;
    }
    .swiperSlide_sec section span{
        font-size: 0.95rem;
    }

    .swiperSlide_sec{
        /* width:auto; */
        width:100%;

    }

}