.benificts_main{
    width: 100%;
    height:100vh;
    padding:8rem 7%;
    
    padding-bottom:2.5rem;
    
    /* background-color: red; */
}

.Benifits_main_content{
    width:100%;
    height:100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2%;
    gap:9%;
    /* border:2px solid black; */
}


.Benifits_main_content_L{
    flex:1;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:2px solid blue; */
    
}

.Benifits_main_content_L img{
    width:97%;
    height:90.5%;
    width: 578px;
    height: 522px;
}


.Benifits_main_content_R{
    /* border:2px solid rgb(234, 10, 182); */
    flex:1;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    /* background-color: blue; */
}

.main_content_R_sec1{
    font-size: 1rem;
    color: #4169E3;
    margin-bottom: 1em;
}

.main_content_R_sec2{
   font-size: 2.75rem;
   color: #363636;
   font-weight:550;
   margin-bottom: 7.5%;
}

.main_content_R_sec2 span{
    color:#E40F75;
}


.main_content_R_sec3{
     width:100%;
     display: flex;
     flex-direction: column;
     
}

.main_content_R_sec3 section {
    
    display: flex;
    align-items: center;
    gap:3%;
    font-size: 1rem;
    color: #011032;
    margin-bottom: 5%;
}

.main_content_R_sec3 section .svg{
      font-size: 1.2rem;
      color:#4287F5;
}

.main_content_R_sec3 section p{
      width:75%;  
}


@media only screen and (min-width: 1600px) {
    .Benifits_main_content_L img{
        scale: 1.3;
    }

    .main_content_R_sec1{
        font-size: 2.5rem;
        margin-bottom: 4%;

   }

   .main_content_R_sec2{
       font-size: 3.5rem;
   }
   .main_content_R_sec3 section {
       

   }

   .main_content_R_sec3 section .svg{
       
   }


   .main_content_R_sec3 section p{
           font-size: 1.5rem;
           text-align: justify;
   }

}


@media only screen and (max-width: 1503px) {
    .Benifits_main_content_L img{
        scale: 1;
    }
    .Benifits_main_content{
        gap:2%;
    }
}

@media only screen and (max-width: 1390px) {
    .Benifits_main_content_L img{
        scale: 0.9;
    }
    .Benifits_main_content{
        gap:2%;
    }
}


@media only screen and (max-width: 1210px) {
    .Benifits_main_content_L img{
        scale: .8;
        
    }

    .Benifits_main_content_L{

         flex: 1;
         width: 45%;
    }
    .Benifits_main_content_R{
          flex: 1;
          width: auto;
    }
}


@media only screen and (max-width: 1130px) {
   .Benifits_main_content_L img{
        scale: .75;
        
    }

    .Benifits_main_content_L{

         flex: 1;
         width: 45%;
    }
    .Benifits_main_content_R{
          flex: 1;
          width: auto;
    }
}

@media only screen and (max-width: 1167px) {
   .Benifits_main_content_L img{
        scale: .75;
        
    }

    .Benifits_main_content_L{

         flex: 1;
         width: 50%;
    }
    .Benifits_main_content_R{
          flex: 1;
          width: auto;
    }
}


@media only screen and (max-width: 1050px) {
    .Benifits_main_content_L img{
        scale: .7;
        
    }
}



@media only screen and (max-width: 1000px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 90%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .9;
        
    }

}

@media only screen and (max-width: 930px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 90%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .85;
        
    }

}

@media only screen and (max-width: 780px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .85;
        
    }

}

@media only screen and (max-width: 630px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .8;
        
    }

}

@media only screen and (max-width: 577px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 2.5rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .7;
        
    }

}

@media only screen and (max-width: 540px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 2.5rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .65;
        
    }

}

@media only screen and (max-width: 460px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 2.5rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .6;
        
    }

}

@media only screen and (max-width: 435px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 2.5rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .55;
        
    }

}

@media only screen and (max-width: 395px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 2.1rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .5;
        
    }

}

@media only screen and (max-width: 370px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 2.1rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .45;
        
    }

}

@media only screen and (max-width: 345px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 2rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .4;
        
    }

}

@media only screen and (max-width: 315px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 1.6rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .4;
        
    }

}

@media only screen and (max-width: 298px) {

    .benificts_main{
        height: auto;
    }
    .Benifits_main_content{
        flex-direction: column-reverse;
        
    }


    .Benifits_main_content_R{
        width: 100%;
        /* padding-left: 5rem; */
        
    }
    .main_content_R_sec1{
       
    }
    .main_content_R_sec2{
        font-size: 1.4rem;
        
    }

    .main_content_R_sec3{
        /* margin-left: 4em; */
        /* font-size: 1.1rem; */
    }
    .Benifits_main_content_L{
        width: 100%;
    }

    .Benifits_main_content_L img{
        scale: .35;
        
    }

}

/* 

@media only screen and (max-width: 1000px) {

    .benificts_main{
       
        height: auto;
        padding-bottom:10%;
    }

    .Benifits_main_content{
        flex-direction: column-reverse;
       
    }

    .Benifits_main_content_R{

    }
    .main_content_R_sec1{
         margin-bottom: 4%;

    }

    .main_content_R_sec2{
        
    }
    .main_content_R_sec3 section {
        

    }

    .main_content_R_sec3 section .svg{
        
    }


    .main_content_R_sec3 section p{
            font-size: 1.2rem;
            text-align: justify;
    }

    .Benifits_main_content_L{

        margin:0px auto;
    }

    .Benifits_main_content_L img{
        width:95%;
        height:75%;
    }
}



@media only screen and (max-width: 600px) {

    .benificts_main{
        
        height: auto;
        padding-bottom:10%;
    }

    .Benifits_main_content{
        flex-direction: column-reverse;
       
    }

    .Benifits_main_content_R{

    }
    .main_content_R_sec1{
         margin-bottom: 4%;

    }

    .main_content_R_sec2{
        
    }
    .main_content_R_sec3 section {
        

    }

    .main_content_R_sec3 section .svg{
        
    }


    .main_content_R_sec3 section p{
            font-size: 1rem;
            text-align: justify;
    }

    .Benifits_main_content_L{

        margin:0px auto;
    }

    .Benifits_main_content_L img{
        width:95%;
        height:75%;
    }
}



@media only screen and (max-width: 420px) {

    .benificts_main{
        
        height: auto;
        padding-bottom:10%;
    }

    .Benifits_main_content{
        flex-direction: column-reverse;
       
    }

    .Benifits_main_content_R{

    }
    .main_content_R_sec1{
         margin-bottom: 4%;

    }

    .main_content_R_sec2{
        font-size:2.2rem ;
    }
    .main_content_R_sec3 section {
        

    }

    .main_content_R_sec3 section .svg{
        
    }


    .main_content_R_sec3 section p{
            font-size: 1.1rem;
            text-align: justify;
    }

    .Benifits_main_content_L{

        margin:0px auto;
    }

    .Benifits_main_content_L img{
        width:95%;
        height:75%;
    }
}




@media only screen and (max-width: 334px) {

    .benificts_main{
      
        height: auto;
        padding-bottom:10%;
    }

    .Benifits_main_content{
        flex-direction: column-reverse;
       
    }

    .Benifits_main_content_R{

    }
    .main_content_R_sec1{
         margin-bottom: 4%;

    }

    .main_content_R_sec2{
        font-size:1.8rem ;
    }
    .main_content_R_sec3 section {
        

    }

    .main_content_R_sec3 section .svg{
        font-size: 1.5rem;   
    }


    .main_content_R_sec3 section p{
            font-size: 1rem;
            text-align: justify;
    }

    .Benifits_main_content_L{

        margin:0px auto;
    }

    .Benifits_main_content_L img{
        width:95%;
        height:75%;
    }
} */
