



.nav{
   
   position: sticky;
   top:0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.125rem;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 50px;

  

   
}

img{
  width:48px;
  height:37px;  
}


.nav_ul{
    display: flex;
    list-style: none;
    gap:2em;
   
}

.nav_ul li a,
.nav_ul_resposive li a{
    text-decoration: none;
    color: black;
    transition: 0.4s ease-in-out;
    border-bottom: 2px solid transparent;
}

.nav_ul li a:hover{
    border-bottom: 2px solid #000;
}

.nav_btn{
    font-size: 1rem;
    padding:0.65em 0.9em;
    color:#4169E3;
    border:2px solid #4169E3;
    border-radius: 0.5em;
    background-color: #fff;
    transition: 0.4s ease-in-out;
    
    
}

.nav_btn:hover{
    cursor: pointer;
    color:#fff;
    background: #4169E3;
}


.nav_icon{
    display: none;
}




/* mobile responsive*/

@media (max-width: 430px) {
 
    .nav{
        position: sticky;
        top:10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
   

    .nav_ul{
        display: none;
    }
    .nav_ul_resposive{
        display: block;
        transition:4.3s ease-in-out;
        position:absolute;
        list-style: none;
        top:100px;
        text-align: center;
        
     
    }

  


    .nav_btn{
        display: none;
    }

    .nav_icon{
        display: block;
    }
  }

















/* .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px; 
    color:red;
}

.nav_img{
   width:50px;
   height:50px;

}



.nav_ul_1,.nav_ul_2{

    list-style-type: none;
    margin: 0;
    padding: 0;
}




.nav_ul_1{
    display: flex;
}

.nav_ul_1 li,
.nav_ul_2 li{

    margin: 0 10px;
}

.nav_ul_2{
    display: none;
}


button{
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

}


.nav_btn_open:hover,.nav_btn_closed:hover{
    background-color: #ccc;
}

.nav_btn_open{

    display: block;
}

.nav_btn_closed{
    display: none;
}

@media (max-width: 768px) {
    .nav_ul_1{
      display: none;
    }

    .nav_btn_open {
      width: 100%;
    }

    .nav_ul_2{
      /* display: block; */
    /* }
  } */ 